@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}

#root img {
    width: 200px;
    height: auto;
}

#root h1 {
    font-family: "Playwrite VN", serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    color: #f09b46;
}