<!DOCTYPE html>
<html>
<head>
    <title>API SERVICE RENDER</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="shortcut icon" href="assets/image/favicon.ico" type="image/x-icon">
</head>
<body>

    <section id="root">
        <img src="/assets/image/foguete.gif" alt="Animação de foguete"">
        <h1>Está tudo certo por aqui</h1>
    </section>

    <script src="assets/js/index.js"></script>
</body>
</html>